name: dh_dialog
description: A new Flutter dialog package.
version: 1.0.5
author: evanwo
homepage: https://github.com/evansherry/dh_dialog

environment:
  sdk: ">=2.17.0 <4.0.0"
  flutter: ">=3.35.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
